/*.anasayfa-urunlerimiz {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}*/

.anasayfa-urunlerimiz .container-fluid {
    background-color: #eee;
    padding: 30px 80px;
    text-decoration: none;
    /*margin-bottom: 50px;*/
}

.anasayfa-urunlerimiz figure {
    background-color: #fff;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
}

        .anasayfa-urunlerimiz figure figcaption {
            font-weight: 500;
            margin-top: 10px;
            color: #bc171d;
            text-align:center;
            text-decoration:none;
        }


.anasayfa-urunlerimiz h1, .urunlerimiz h1 {
    color: #bc171d;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: none;
}

.anasayfa-urunlerimiz p, .urunlerimiz p {
    font-weight: 500;
    text-decoration: none;
}

.anasayfa-urunlerimiz .title, .urunlerimiz .title {
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 15px;
    color: #eee;
    margin: 0;
    padding: 0;
    margin-bottom: -37px;
    display: block;
    text-decoration: none;
}

.anasayfa-urunlerimiz .owl-pagination {
    display: none !important;
    text-decoration: none;
}
